/* sidebar */


.sidebar {
  background-color: #000000;
  border-right: 1px solid #eee;
  width: 250px;
  padding: 36px 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: var(--transition-default);
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.info-name {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.info-img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
  margin-top: 28px;
  height: 600px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-pumpkin);
    border-radius: 18px;
  }
}

.sidebar-change {
  margin-left: -260px;
}

.nav-item {
  margin-bottom: 10px;
  margin-right: 0;
}

.nav-link {
  display: block;
  align-items: center;
  justify-content: flex;
  display: flex;
  height: 44px;
  border-radius: 8px;
  column-gap: 12px;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  transition: var(--transition-default);
  width: calc(100% + 0px);
  padding: 5px 10px;
}

.nav-link:hover {
  border: 1px solid var(--clr-primar-light);
}

.nav-link.active {
  background-color: #3756B2;
  color: #e7e7e6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.nav-link-icon {
  width: 22px;
}

.nav-link-text {
  text-transform: capitalize;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 72px;
    padding: 0;
    align-items: center;
  }

  .sidebar-change {
    margin-left: -72px;
  }

  .user-info {
    justify-content: center;
    padding-top: 1rem;
  }

  .info-name {
    display: none;
  }

  .info-img {
    width: 48px;
    height: 48px;
  }

  .navigation {
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .nav-link {
    padding: 8px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .nav-link.active,
  .nav-link:hover {
    border-radius: 50%;
    background-color: #3756B2;
  }

  .nav-link-text {
    display: none;
  }

  .nav-link-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 420px) {
  .sidebar {
    margin-left: -72px;
  }

  .sidebar-change {
    margin-left: 0px;
  }
}